@font-face {
  font-family: unbutton;
  src: url("../fonts/unbutton/unbutton.ttf") format('truetype');
}

@font-face {
  font-family: mariokartds;
  src: url("../fonts/mariokart/Mario-Kart-DS.ttf") format("truetype");
}

body {
  color: white;
  background-color: gray;
  margin: 0;
}

#top {
  display: flex;
  flex-direction: row;
  background-color: black;
  font-family: mariokartds;
}

#server {
  width: 50vw;
  border-bottom: 1px solid #FFFF00;
  padding: 45px;
}

#invite {
  padding: 20px 40px;
  background-color: orange;
  border-radius: 10px;
  font-size: 2em;
}

#pages {
  display: flex;
  flex-direction: row;
  width: 50vw;
  align-items: flex-end;
}

#pages > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #FFFF00;
  width: 12.5vw;
  text-align: center;
  height: 50%;
  border-radius: 10px 10px 0 0;
}

#pages > span > a {
  color: white;
}

#home #home-link, #links #links-link, #news #news-link, #staff #staff-link {
  border: 1px solid #FFFF00;
  border-bottom: 0;
  background-color: gray;
  color: black;
}

#home #home-link a, #links #links-link a, #news #news-link a, #staff #home-staff a {
  color: black
}
